.midnight-blue {
  color: #0C0C0C; /* Midnight Blue */
}
.forest-green {
  color: #0E4F00; /* Forest Green */
}
.midnight-blue {
  color: #111111; /* Midnight Blue */
}
.dark-slate-gray {
  color: #222222; /* Dark Slate Gray */
}
.dark-slate-gray {
  color: #3A3A3A; /* Dark Slate Gray */
}
.dark-slate-gray {
  color: #444444; /* Dark Slate Gray */
}
.dim-gray {
  color: #595959; /* Dim Gray */
}
.dim-gray {
  color: #666666; /* Dim Gray */
}
.gray {
  color: #7A7A7A; /* Gray */
}
.gray {
  color: #7D7D7D; /* Gray */
}
.light-slate-gray {
  color: #818A91; /* Light Slate Gray */
}
.light-slate-gray {
  color: #919191; /* Light Slate Gray */
}
.light-slate-gray {
  color: #969696; /* Light Slate Gray */
}
.dark-gray {
  color: #A3A3A3; /* Dark Gray */
}
.dark-gray {
  color: #A4A4A4; /* Dark Gray */
}
.dark-gray {
  color: #B2B2B2; /* Dark Gray */
}
.silver {
  color: #BABABA; /* Silver */
}
.silver {
  color: #C4C4C4; /* Silver */
}
.light-gray {
  color: #D3D3D3; /* Light Gray */
}
.light-gray {
  color: #D6D6D6; /* Light Gray */
}
.gainsboro {
  color: #DCDCDC; /* Gainsboro */
}
.white-smoke {
  color: #EEEEEE; /* White Smoke */
}
